# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build
dist
*.tsbuildinfo

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Env files
.env
.env.*

# Misc
.DS_Store
coverage
