@import 'tailwindcss';

@theme {
  --color-card: #1f1f1f;
  --color-primary: #799a63;
  --color-foreground: #ffffff;
}

body {
  font-family: 'Roboto Condensed', 'Roboto Condensed Fallback"';
  color: var(--color-foreground);
  background: url('/images/bg.jpeg') no-repeat center center fixed;
  background-size: cover;
}

a:hover {
  color: var(--color-primary);
}

a:active {
  color: var(--color-primary);
}
