@import 'tailwindcss';
@import 'react-advanced-cropper/dist/style.css';
@theme {
  --color-card: #1f1f1f;
  --color-primary: var(--color-lime-700);
  --color-text-primary: #799a63;
  --color-foreground: #ffffff;
  --color-muted: #eee;
  --color-destructive: #ff0000;
}

@utility paper {
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.4);
  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius-xl);
  backdrop-filter: blur(10px);
  backdrop-filter: blur(var(--blur-sm));
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 80px;
}

body {
  font-family: 'Roboto Condensed', 'Roboto Condensed Fallback"';
  color: var(--color-foreground);
  background: url('/images/bg.jpeg') no-repeat center center fixed;
  background-size: cover;
}

a:hover {
  color: var(--color-text-primary);
}

a:active {
  color: var(--color-text-primary);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #888;
}